@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.contenedor {
height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* fondo seccion */
#fondo {
  background-image: url(/src/img/comida-fondo.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}
#fondo::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}
.contenedor-texto{
 letter-spacing:;
justify-content: space-around;
}
#fondo h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#fondo h1:nth-child(1){
  animation-delay: 1.5s;
}
#fondo h1:nth-child(2){
  animation-delay: 2.5s;
}
#fondo h1:nth-child(3){
  animation-delay: 3.5s;
}
#fondo h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #FFB803;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}
#fondo h1:nth-child(1) span{
  animation-delay: 1s;
}
#fondo h1:nth-child(2) span{
  animation-delay: 2s;
}
#fondo h1:nth-child(3) span{
  animation-delay: 3s;
}
#fondo .btn{
  display: inline-block;
  padding: 10px 30px;
  color: #FFB803;
  background-color: transparent;
  border: 2px solid #FFB803;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 36px;
  transition: .3s ease;
  transition-property: background-color, color;
}
#fondo .btn:hover{
  color: white;
  background-color: #FFB803;
}
/* fondo seccion */

/* key frames */
@keyframes text_reveal_box{
  58%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }

}
@keyframes text_reveal{
  100%{
    color: white;
  }
}

/* key frames */
